<link rel="stylesheet" href="/CSS/interview.css">
<div id="interview-container">
    <div id="interview-title" class="mt-3">
        <h1>Interview | Home</h1>
    </div>

    <div id="interview-form" class="card mt-5">
        <form action="/interviews/create-interview" method="POST" class="form-group card mt-3">
            <input type="text" name="company" class="form-control mb-2" placeholder="Company Name" required>
            <input type="text" name="profile" class="form-control mb-2" placeholder="Profile" required>
            <input type="submit" value="Add Company & Schedule" class="btn btn-success">
        </form>
    </div>

    <div id="interview-list-container">
        <table id="list" class="table table-dark table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Company</th>
                    <th>Profile</th>
                    <th>Schedule Interview</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <% for(i of interview){%>
                    <tr>
                        <td><%=i.company%></td>
                        <td><%=i.profile%></td>
                        <td style="width: 25%;"><a href="/scheduling/schedule-interview/<%=i._id%>">Schedule students for <%=i.company%>/<%=i.profile%></a></td>                       
                    </tr>
                <%}%>
            </tbody>
        </table>
    </div>
</div>

